/* Required Styles Start */

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.unfixed {
	position: relative;
	width: 100%;
}


.stacked-dots{
	position: fixed;
    z-index: 305;
    width: 68%;
    margin: 0 16%;
	display: flex;
    justify-content: space-between;
}

.stacked-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

button.stacked-dot {
    background: 0 0;
    color: inherit;
    border: none;
	padding: 0!important;
    font: inherit;
	cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.stacked-dot.active{
	    background-color: transparent !important;
}
.stacked-dots .stacked-dot.active span, .stacked-dots .stacked-dot:hover span {
    background: #869791;
}
/* Required Styles End */